name: Release the Binaries

on:
  push:
    tags: ["**"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build Binaries
    uses: ./.github/workflows/build.yml
  release:
    name: Create GitHub Release
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          path: artifacts
      - name: Create release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2
        with:
          draft: true
          generate_release_notes: true
          files: artifacts/**/*
